<div class="container row col-md-12 js-address-removal" id="front-page-background">
  <div class="header-controls">
    <a href="#" class="export"><button class="btn btn-success btn-lg">Export Spreadsheet</button></a>
    <button class="btn btn-info btn-lg js-add-address" id="address-input-button">Enter a New Paper Wallet</button>
    <button class="btn btn-default btn-lg js-check-balance">Check Balance(s)</button>
    <input type="file" id="csvFileInput" onchange="handleFiles(this.files)" accept=".csv">
  </div>
  
  <div class="boohoo">
    <input class="center-block form-control" type="text" id="address-text-input">
  </div>
  
  <div class="col-xs-12" id="totals-for-everything">
    <div class="col-xs-7">
      <p><span class="label label-warning grid-address" id="crypto-total-addresses"></span></p>
    </div>
    <div class="col-xs-2">
      <p><span class="label label-info grid-crypto js-btc-check" id="crypto-total-amount"></span></p>
    </div>
    <div class="col-xs-2">
      <p><span class="label label-success grid-fiat js-fiat-check" id="fiat-total-amount"></span></p>
    </div>
  </div>
  
  <!--To do address div styling-->
  <!--<div class="col-md-12 js-csv">-->
  <!--  <div class="col-xs-7">-->
  <!--    <p><span class="label label-warning grid-address">17Ldma5rA1HXKwxT6QR58pzywctn1ruGUQ</span></p>-->
  <!--  </div>-->
  <!--  <div class="col-xs-2">-->
  <!--    <p><span class="label label-info grid-crypto js-btc-check">0.00 BTC</span></p>-->
  <!--  </div>-->
  <!--  <div class="col-xs-2">-->
  <!--    <p><span class="label label-success grid-fiat js-fiat-check">0.00 USD</span></p>-->
  <!--  </div>-->
  <!--  <div class="col-xs-1">-->
  <!--    <p><span class="glyphicon glyphicon-remove js-remove"></span></p>-->
  <!--  </div>-->
  <!--</div>-->
  
  <!--<div>-->
    <!--<form class="form-horizontal well">-->
      <!--<legend>-->
        <!--<h3>-->
          <!--<div id="title">HTML5 File API</div>-->
        <!--</h3>-->
      <!--</legend>-->
      <!--<fieldset>-->
        <!--<label for="csvFileInput"> <strong>CSV File:</strong>-->
        <!--</label>-->
        <!--<input type="file" id="csvFileInput" onchange="handleFiles(this.files)" accept=".csv">-->
      <!--</fieldset>-->
    <!--</form>-->
  <!--</div>-->
        
  <div id="output">
    
  </div>
  
  
</div>

<div class="hide" id="dvData">
  <table>
    <tr>
      <td>Address(es) : <span id="crypto-total-addresses"></span></td>
      <td>BTC Amount : <span id="crypto-total-amount"></span></td>
      <td>USD Amount</td>
    </tr>
  </table>
</div>