<div class="container col-md-12" id="front-page-background">
  <div class="boohoo form-group">
    <button class="btn btn-info btn-lg center-block" id="address-input-button">Enter a New Paper Wallet</button>
    <input class="center-block form-control" type="text" id="address-text-input">
  </div>
</div>