<div class="header">
    <%= image_tag("download (1).png", class: "donation-img") %>
    <h1 class="donation-address">17g8t7pZhTz3J6qUXKKeFMbFG1vMLE7Gb8</h1>
</div>

<!--<div class="content">-->
  <!--<div class="left-side">-->
    <!---->
  <!--</div>-->
  <!--<div class="right-side">-->
    <!---->
  <!--</div>-->
  <!---->
<!--</div>-->
