/*.header, .content {*/
/*  height: 100%;*/
/*}*/

.header {
  font-size: 3vw;
  position: relative;
}

.donation-img {
  float: left;
  margin-top: 1.5rem;
}

.donation-img > canvas {
  display: none;
}

.donation-img > img {
  margin: auto;
  border: 0.3rem solid white;
  border-radius: 0.3rem;
}

.donation-address {
  font-size: 1em;
  font-weight: bold;
  margin-top: 5.5rem;
  // margin-left: 2.4rem;
}

#donation-address-hidden {
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
}

.slogan {
  font-size: 0.5em;
  font-weight: bold;
}

#fiat-current-price {
  font-size: 0.475em;
  font-weight: bold;
  margin: 0;
}

.crypto-list-dropdown {
  background-color: #464646;
}

.crypto-list-dropdown > li > a {
  color: white;
}

.fiat-list-dropdown {
  background-color: #464646;
}

.fiat-list-dropdown > li > a {
  color: white;
}

.left-side {
  background-color: #464646;
  margin-top: 2rem;
}

.right-side {
  background-color: #464646;
  font-size: 1.09vw;
  margin-top: 2rem;
  height: 100%;
  overflow-y: auto;
}


.table-hover tbody tr:hover td {
    background: grey;
}


#address-text-input {
   width: 60%;
}

.info-box {
  display: inline-block;
  position: relative;
}

.info-button-panel {
  background-color: #867d7e;
  border-radius: 1rem;
}

.cryptoAddress {
  color: #42f0ef;
}

#modal-qrcode > img {
  width: 100%;
}

.modal-title {
  color: black;
  font-size: 1.32rem;
  font-weight: 600;
}

.modal-title > .glyphicon-copy {
  margin-left: 12.3rem;
}

.modal-title > .alert-warning {
  text-align: center;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.donation-address > .glyphicon-copy {
  font-size: 0.7em;
}

.alert-copy {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 46.4%;
  font-size: 0.3em;
  border-radius: 3em;
}

.alert-duplicate {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 44%;
  font-size: 0.3em;
  border-radius: 3em;
}

.alert-invalid {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 42%;
  font-size: 0.3em;
  border-radius: 3em;
}

.alert-csv-invalid {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 42%;
  font-size: 0.3em;
  border-radius: 3em;
}

.export-filename {
  font-size: 1.64rem;
  font-weight: 600;
  margin-left: 3rem;
}

.glyphicon:hover {
  background-color: #9d9d9d;
  border: 0.01rem inset #b9acac;
  border-radius: 0.3rem;
}