/*.header, .content {*/
/*  height: 100%;*/
/*}*/

.header {
  height: 21rem;
  /*width: 100vw;*/
  position: relative;
}

.qroutline {
  float: left;
  width:150px; 
  height:150px;
  background-color: white;
}

.donation-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.7rem;
  width: 70%;
  /*float: left;
  margin: auto;
  width: 20rem;
  height: auto;*/
  /*margin-top: 0.5rem;*/
  /*margin-left: 1rem;*/
}

.donation-address {
  float: left;
  font-size: 3.45rem;
  font-weight: bold;
  margin-top: 7rem;
  margin-left: 2.4rem;
}

.slogan {
  float: left;
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 5.8rem;
}

#fiat-current-price {
  float: left;
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 5.8rem;
}

.crypto-list {
  margin-top: 1rem;
}

ul.crypto-list-dropdown {
  background-color: #464646;
}

ul.crypto-list-dropdown > li > a {
  color: white;
}

.content {
  background-color: #464646;
  height: 100%;
  margin-top: 1%;
}

.left-side {
  background-color: #464646;
  height: 100%;
}

.left-side > .container {
  margin-top: 1%;
}

.right-side {
  background-color: #464646;
  height: 100%;
  overflow-y: auto;
}

.table-hover tbody tr:hover td {
    background: grey;
}

#address-input-button {
  
}

#address-text-input {
   width: 60%;
}

.info-box {
  display: inline-block;
  position: relative;
}

.info-button {
  
}

#info-button-panel {
  /*width: 296%;*/
  /*height: 3rem;*/
  position: absolute;
  background-color: #867d7e;
  display: none;
  bottom: 0;
  right: 0.5%;
  padding-right: 2%;
  padding-top: 0.65%;
  border-radius: 1rem;
}

.cryptoAddress {
  color: #42f0ef;
}

.modal {
    display: none; /* Hidden by default */
    // position: fixed; /* Stay in place */
    margin: auto;
    z-index: 1; /* Sit on top */
    padding-top: 2.5rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 15%; /* Full width */
    height: 40%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.donation-address > .glyphicon-copy {
  font-size: 1.5rem;
}

.alert-warning {
  position: absolute;
  top: 0;
  margin-left: 43%;
  font-size: 1.4rem;
}