/*.header, .content {*/
/*  height: 100%;*/
/*}*/

.header {
  height: 21rem;
  /*width: 100vw;*/
  position: relative;
}

.donation-img {
  float: left;
  width: 20rem;
  height: auto;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.donation-address {
  float: left;
  font-size: 3.45rem;
  font-weight: bold;
  margin-top: 7rem;
  margin-left: 2.4rem;
}

.slogan {
  float: left;
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 5.8rem;
}

.content {
  background-color: #464646;
  height: 100%;
  margin-top: 1%;
}

.left-side {
  background-color: #464646;
  height: 100%;
}

.left-side > .container {
  margin-top: 1%;
}

.right-side {
  background-color: #464646;
  height: 100%;
  overflow-y: auto;
}

.table-hover tbody tr:hover td {
    background: grey;
}

#address-input-button {
  
}

#address-text-input {
   width: 60%;
}

.info-box {
  display: inline-block;
  position: relative;
}

.info-button {
  
}

#info-button-panel {
  /*width: 296%;*/
  /*height: 3rem;*/
  position: absolute;
  background-color: #867d7e;
  display: none;
  bottom: 0;
  right: 0.5%;
  padding-right: 2%;
  border-radius: 1rem;
}
